section {
    width: 95%;
    height: 300px;
    margin: auto;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section main {
    width: 200px;
    height: 150px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section main div {
    width: 50px;
    height: 50px;
    background: white;
}
section main .paul {
    animation: paul 2s ease-in infinite;
}

@keyframes paul {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}
section main .dan {
    animation: paul 2s ease-in infinite;
}

@keyframes paul {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}
section main .pen {
    animation: paul 2s ease-in infinite;
}

@keyframes paul {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}
