body{
    background-image: url(images/Avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    margin-left: 20px;
}
input{
    padding: 8px;
    width: 450px;
    border-radius: 5px;
    border: 0px;
}
button{
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    background: rgb(12, 190, 190);
    border: 0px;
    margin-left: 300px;
}
.log{
    padding: 8px;
    width: 70px;
    border-radius: 5px;
    background: rgb(45, 163, 45);
    border: 0px;
    margin-left: 300px;
}
section{
    height: 450px;
    width: 400px;
    margin: auto;
}
h1{
    color: white;
    font-size: 500%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}
section h1{
    display: block;
    margin: 30px;
}
.email{
    padding: 15px;
    width: 400px;
    border-radius: 10px;
    background: white;
    border: 0px;
}
section .email{
    display: block;
    margin: 5px;
}
.password{
    padding: 15px;
    width: 400px;
    border-radius: 10px;
    background: white;
    border: 0px;
}
section .password{
    display: block;
    margin: 5px;
}
.sign{
    padding: 15px;
    width: 435px;
    border-radius: 5px;
    background: rgb(12, 190, 190);
    border: 0px; 
}
section .sign{
    display: block;
    margin: 5px;
}
hr{
    width: 435px;
}
.google{
    padding: 15px;
    width: 435px;
    border-radius: 5px;
    background: white;
    border: 0px; 
}
section .google{
    display: block;
    margin: 5px;
}
.apple{
    padding: 15px;
    width: 435px;
    border-radius: 5px;
    background: white;
    border: 0px; 
}
section .apple{
    display: block;
    margin: 5px;
}
.trending{
    padding: 15px;
    width: 435px;
    border-radius: 5px;
    background: transparent;
    color: white;
    border: 0px; 
    margin: 0px;
}