*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: rgb(196, 213, 231);
}

#header {
    /* border: 1px solid black; */
    width: 100vw;
    height: 80px;
    background-color: rgb(4, 4, 37);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .first {
    /* border: 1px solid red; */
    width: 20vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .first h4{
    text-decoration: double;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

#header .second {
    /* border: 1px solid yellow; */
    width: 40vw;
    height: 70px;
    display: flex;
    align-items: center;
    margin-right: 650px;
    /* justify-content: space-between; */
}

#header .second .all {
    padding-right: 30px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(184, 201, 218);
    font-size: large;
    font-weight: bolder;
}

#header .second input {
    padding-right: 300px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-size: large;
    font-weight: bolder;
}

#header .second .search {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: orange;
    font-size: large;
    font-weight: bolder;
}

#header .third {
    border: 1px solid gold;
    width: 80vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}